Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f3f3f3;
    padding: 20px;
    z-index: 999;
}

input {
    padding: 12px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 14px;
    border-radius: 5px;
    width: 14rem;
    position: relative;
}

.nav-icons {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
}

.nav-container {
    margin-left: 20rem;
}

.profile-container {
    margin-right: 10rem;
}
